/* food/index.tsx */

.food-container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.main-reviews {
  display: grid;
  column-gap: 2rem;
  row-gap: 5rem;
  margin-bottom: 4rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.filter-container {
  display: flex;
  justify-content: flex-end;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  align-items: center;
}

.filter-by {
  padding-right: 10px;
}

.filter-mobile {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1280px) {
  .main-reviews {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .main-reviews {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 550px) {
  .main-reviews {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .filter-mobile {
    display: flex;
    flex-direction: column;
  }
}

/* food/filter-dropdown.tsx */
.indiv-filter {
  padding-right: 10px;
}
