/* overseas-post-header.tsx */
.general {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-top: solid 2px;
  padding-top: 5px;
  align-items: center;
}

.temp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.more-reviews {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.04em;
  margin-bottom: 2rem;
}

@media screen and (max-width: 350px) {
  .general {
    flex-direction: column;
    align-items: flex-start;
  }
  .share-icon {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 550px) {
  .more-reviews {
    font-size: 2rem;
  }
}

/* overseas-nav.tsx */
.overseas-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin: 30px 60px;
  border: 1px solid #ccc;
}

.full-countries {
  display: flex;
}

.country {
  margin: 20px 0px;
  padding: 0px 30px;
  border-right: 1px solid #ccc;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
}

.countries-heading {
  display: block;
  padding: 0px 15px;
  margin: 20px 0px 0px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  font-family: math;
  /* font-family: "Chronicle SSm A", serif; */
}

.last-country {
  padding: 20px 30px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
}

.selected-country {
  font-weight: 700;
}

@media screen and (max-width: 800px) {
  .overseas-nav {
    margin: 20px 0px;
    font-size: 0.875rem;
  }
  .country {
    padding: 0px 20px;
  }
  .last-country {
    padding: 20px 20px;
  }
}

@media screen and (max-width: 550px) {
  .full-countries {
    flex-direction: column;
    align-items: center;
    /* margin: 15px 0px; */
  }
  .country {
    padding: 0px 15px;
    margin: 0px 0px 10px;
    border: none;
    text-transform: uppercase;
  }
  .countries-heading {
    display: block;
    padding: 0px 15px;
    margin: 20px 0px 10px;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 500;
    font-family: "Chronicle SSm A", serif;
  }
  .last-country {
    padding: 0px 15px 20px;
    text-transform: uppercase;
  }
}
